.algo{
    width:70%;
}
.imgIndex{
    background-image: url("../imagen//SantuarioVirgendelRosariodeSanNicolás.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 950px;
}
.mainbox{
    width: 100%;
    display: flex;
    align-items: center;
}
body{
    margin: 0px;
}
.txtbox{
     align-items: center;
}
.texalign{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items:center;
    align-content: flex-start;
    height: 950px;
    background-color: #CCFFCC;
}
.textdescription{
    height: 50%;
    display: flex;
    align-items:center;
}
.nombre{
    height: 25%;
    display: flex;
    align-items:center;
}